.contentSocial{
    width: 100%;
    height: 100%;
    // overflow-y: auto;

    
    .centralSocailContent{
        background-color: hsl(214, 75%, 12%);
        margin: auto;
        max-width: 800px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .precentacionContent{
            padding-top: 25px;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            

        }


    }

}

@media (max-width: 500px)
{
    .contentSocial{
        
        .centralSocailContent{
            width: 100%;

            

        }
    }

}