.contentHome{
    width: 100%;
    height: 100%;
    // overflow-y: auto;

    
    .centralcontent{
        // background-color: hsl(214, 74%, 12%);
        background: linear-gradient(0deg, rgba(2,18,39,1) 0%, rgba(8,28,54,1) 100%);
        margin: auto;
        max-width: 800px;
        height: 100%;
        max-height: calc(100% - 75px);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        .precentacionContent{
            // padding-top: 25px;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            
            .photoPrincipal{
                width: 300px;
                height: 300px;
                overflow: hidden;
                border-radius: 50%;
                
                .photo{
                    width: 100%;
                    height: auto;
                    transform: scale(1.2);
                }
                
            }

            .espacio{
                margin-top: 1em;
            }
            
            p{
                text-align: center;
            }

            .horizonalContent{
                display: flex;
                gap: 1em;
                margin-top: 1em;
                
            }
            
            .linkCV:hover{
                color: hsl(44, 80%, 67%);
            }
            
        }
        
        
    }
    
}

@media (max-width: 500px)
{
    .contentHome{
        
        .centralcontent{
            width: 100%;
            max-height: calc(100% - 60px);
            
            .precentacionContent{

                h2{
                    font-size: 1.4em;
                }
                
                .photoPrincipal{
                    width: 50vw;
                    height: 50vw;
                }
                .espacio{
                    margin-top: 0.5em;
                }
                .horizonalContent{
                    margin-top: 0 !important;
                    
                }

            }

        }
    }

}