.central-container{
    background: linear-gradient(0deg, rgba(2,18,39,1) 0%, rgba(8,28,54,1) 100%);
    margin: auto;
    max-width: 1000px;
    min-height: 100%;
    // padding-bottom: 100px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;

    .Titulo{
        color: var(--colorPrimario);
        padding: 25px 0;
    }

    .central-grid-container{
        width: 100%;
        // height: 2000px;
        // position: relative;
        display: grid;
        grid-template-columns: repeat(auto-fill, 225px);
        justify-items: center;
        // background-color: bisque;
        justify-content: space-evenly;
        padding-top: 1em;
        padding-bottom: 1em;
        border-top: 3px solid hsl(209, 76%, 69%);
        row-gap: 1em;

        .pincard{
            background-color: rgb(2, 18, 39);
            border-radius: 25px;
            width: 200px;
            height: 325px;
            border: 2px solid hsl(209, 76%, 69%);
            display: flex;
            align-items: center;
            flex-direction: column;
            
            .pincard-titulo{
                color: var(--colorPrimario);    
                // margin: auto;
                text-align: center;
            }

            .contenedor-imagen{
                // background-color: aqua;

                width: 175px;
                height: 175px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 15px;
                overflow: hidden;

                .img-proyectos-web{
                    width: auto;
                    height: 100%;
                    transform: scale(1);
                }
            }

            .parrafo{
                // background-color: blueviolet;
                // margin: auto;
                width: 175px;
                display: flex;
                flex: 1 1 auto;

                p{
                    text-align: justify;
                }
                

            }

            .botons-contents{
                // background-color: brown;
                width: 175px;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 10px;
                // margin: auto;
                padding-bottom: 5px;

                a{
                    background-color: var(--colorTercero);
                    width: 100%;
                    padding: 5px 0;
                    border-radius: 10px;
                    text-align: center;
                    text-decoration: none;
                    
                    span{
                        color: hsl(0, 0%, 100%);
                    }
                }

                a:hover{
                    background-color: var(--colorSecundario);
                }
            }

            


        }



    }

}

@media (max-width: 500px)
{
    .central-container{
        
        width: 100%;
        
    }
}